<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partials/head.html') %>
    <title>LCF COMPANY</title>
</head>

<body>
    <%- include('partials/nav.html') %>
    <section class="form_wrap animated fadeInDown">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DEL CONTACTO</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> LCFCOMPANY@gmail.com</p>
                <p><span class="fab fa-whatsapp"></span> +1(829) 212-5312</p>
            </section>
        </section>

        <form action="/contact" method="post" class="form_contact">
            <h5>Permita que le contactemos para recomendar una solución acorde a sus necesidades.</h5>
            <div class="user_info">

                <input type="text" placeholder="Nombre" name="name" autofocus required id="name">

                <input type="number" placeholder="Telefono / celular" required name="phone" step="any"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phone">

                <input type="email" placeholder="Correo eletronico" name="email" required id="email">

                <textarea required placeholder="Detalles del servicio que solicita:" name="message"
                    id="mensaje"></textarea>

                <input type="submit" value="Enviar Mensaje" id="btnSend">
            </div>
        </form>
    </section>

    <%- include('partials/footer.html') %>
    <script src="js/contact.js"></script>
</body>

</html>


