<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partials/head.html') %>
    <title>LCF COMPANY</title>
</head>

<body>
    <%- include('partials/nav.html') %>
    
    <section class="form_wrap animated fadeInDown">

        <form action="/contact" method="post" class="form_contact"id="form">
            <i class="far fa-inbox-in fa-5x herra"></i>
            <h5 class="text-center mt-3">Contact Us</h5>
            <div class="user_info">

                <input type="text" placeholder="Nombre" name="name" autofocus required id="name">

                <input type="number" placeholder="Telefono / celular" required name="phone" step="any"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phone">

                <input type="email" placeholder="Correo eletronico" name="email" required id="email">

                <textarea required placeholder="Detalles del servicio que solicita:" name="message"
                    id="mensaje"></textarea>

                <input type="submit" class="btn btn-success" data-toggle="modal" data-target="#ma-modal" value="Send" id="btnSend">
            </div>
        </form>
    </section>
   
      
      <div id="modal-loading"></div>
    <%- include('partials/footer.html') %>
   
<script>
    
const email = document.getElementById('email');
const message = document.getElementById('mensaje');
const name = document.getElementById('name');
const phone = document.getElementById('phone');
const btnSend = document.getElementById('btnSend');

function eventListener(){
    
    email.addEventListener('blur', validate);
    message.addEventListener('blur', validate)
    phone.addEventListener('blur', validate)
    name.addEventListener('blur', validate)

} eventListener();

// Evento de Circle Loading luego de enviar el Form
btnSend.addEventListener('click', () => {
    const modal_Loading = document.getElementById('modal-loading')
    const div = document.createElement('div');

//validacion de campos para que se ejecute el circulo
    if(email.value !== '' && email.value.indexOf('@') !== -1  && phone.value !== '' && name.value !== '' && message.value !== ''){

        div.innerHTML = `<div class="modal fade" id="ma-modal" tabindex="-1" role="dialog" aria-labelledby="mb-modal" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-body">
                        <div class="loader" id="loaded">Loading</div>
                    </div>
            </div>
        </div>`
        modal_Loading.appendChild(div);
        setTimeout(() => {
            modal_Loading.remove();
        }, 3000);
        
    }
       
})

//validate Form
function validate(){
    validatelength(this);
    
    if(this.type === 'email'){
        validateEmail(this)
        }

}
function validatelength(campo){
    if(campo.value.length > 2){
        campo.style.borderBottom = '1px solid green';
    }else{
        campo.style.borderBottom = '1px solid red';
    }
}
//validacion de Email
function validateEmail(campo){
    const typeEmail = campo.value;
    if(typeEmail.indexOf('@') !== -1){
        campo.style.borderBottom = '1px solid green';
    }else{
        campo.style.borderBottom = '1px solid red'
    }

}

</script>
</html>


