<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> </title>
    <%- include('partials/head.html') %>

</head>

<body>
        <!--NAV-->
    <%- include('partials/nav.html') %>
 
    <!--CARDS-->
    <%- include('partials/cards.html') %>
   <!--modals-->
   <%- include('partials/modal.html') %>
    <!--Footer-->
    
    <%- include('partials/footer.html') %>
    <script>
    </script>
</body>

</html>