<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Aplicacion web enfocada en brindar un ser
    vicio ejemplar en el campo de la computacion">
    <meta name="Keywords" content="LCF-COMPANY, Reparacion de Laptops, tecnologia, creacion de paginas web">
    <title><%= title %> </title>
    <%- include('partials/head.html') %>

</head>

<body>
        <!--NAV-->
    <%- include('partials/nav.html') %>

    <div class="jumbotron animated fadeInDown">
        <div class="container">
            <h1 class="display-4 mb-3 text-left text-white">LCF COMPANY</h1>
           <p class="lead mb-4 text-white">Empresa Joven y dedicada a solucionar y/o finalizar <br>las necesidades de nuestros clientes en el menos tiempo posible.
            <div>
             <br>
             <br>
            </div>
        </div>
    </div>
        
    
    <!--CARDS-->
    <%- include('partials/cards.html') %>
    <!--Footer-->
    
    <%- include('partials/footer.html') %>
    <script>
    </script>
</body>

</html>