<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Aplicacion web enfocada en brindar un ser
    vicio ejemplar en el campo de la computacion">
    <meta name="Keywords" content="LCF-COMPANY, Reparacion de Laptops, tecnologia, creacion de paginas web">
    <title><%= title %> </title>
    <%- include('partials/head.html') %>

</head>

<body>
        <!--NAV-->
    <%- include('partials/nav.html') %>
 
    <!--CARDS-->
    <%- include('partials/cards.html') %>
    <!--Footer-->
    
    <%- include('partials/footer.html') %>
    <script>
    </script>
</body>

</html>