body { 
    
    background:#fff url('fondo.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.card {
    -webkit-box-shadow: -1px 5px 41px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 41px 6px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 41px 6px rgba(0,0,0,0.75);
}
.instagram {
    text-decoration: none;
    color: white;
    background: #3f729b;
    padding: 10px;
    border-radius: 6px;
}
.instagram:hover{
    color: #3f729b;
    background: #fff;
    text-decoration: none;
}
.card {
    transition: transform .6s;
}
.card:hover {
    transform: scale(1.1);
}
@media screen and (min-width:1024px) {
   
    .footer{
        position: relative;
        bottom: 0;
    }
}
 
  
 
  
  

  


