body { 
    
    background:#fff url('spiration\ dark.png');
    background-repeat: repeat;
    /*background-size: cover;
    background-attachment: fixed;*/
    font-family: 'Libre Caslon Text', serif;
}
.card {
    -webkit-box-shadow: 6px 14px 12px -12px rgba(69,69,69,1);
-moz-box-shadow: 6px 14px 12px -12px rgba(69,69,69,1);
box-shadow: 6px 14px 12px -12px rgba(69,69,69,1);
}
.instagram {
    text-decoration: none;
    color: white;
    background: #3f729b;
    padding: 10px;
    border-radius: 6px;
}
.instagram:hover{
    color: #3f729b;
    background: #fff;
    text-decoration: none;
}
.card {
    transition: transform .6s;
}
.card:hover {
    transform: scale(1.1);
}

 
  
 .jumbotron {
     background-image: url('jumbotron.jpeg');
     background-size: cover;
     width: 100%;
     margin: 0;
 }
  
  

  


