<div class="container animated fadeInDown">
        <h2 class="text-center display-4">Services</h2><hr>
        <div class="row mt-3 d-flex justify-content-around">
            <div class=" col-7 mt-3 col-md-3 card">
                <i class="fas fa-laptop fa-7x text-center mt-2 "></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Laptops</h3>
                    <hr>
                    <p class="card-text text-center">Reparacion de laptops disco duros etc.</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#rp-modal">More</a>

                </div>
            </div>

            <div class="col-7 mt-3 col-md-3 card">
                <i class="fab fa-windows fa-7x text-center mt-2"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Software</h3>
                    <hr>
                    <p class="card-text text-center">Instalacion de software y Sistema Operativo</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#sf-modal">More</a>
                    
                </div>
            </div>
            <div class="col-7 mt-3 col-md-3 card">
                <i class="fas fa-mobile-alt fa-7x text-center mt-2"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Celulares</h3>
                    <hr>
                    <p class="card-text text-center">Reparacion de Celulares y cambio de pantallas.</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#mb-modal">More</a>

                </div>
            </div>
        </div>
    </div>
    