<div class="container animated fadeInDown">
        <h2 class="text-center display-4 text-white">Services</h2><hr>
        <div class="row mt-3 d-flex justify-content-around">
            <div class=" col-7 mt-3 col-md-3 card">
                <i class="fal fa-phone-laptop fa-7x text-center mt-2 "></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Laptops</h3>
                    <hr>
                    <p class="card-text text-center">Reparacion de laptops, celulares,  disco duros etc.</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#rp-modal">More</a>

                </div>
            </div>

            <div class="col-7 mt-3 col-md-3 card">
                <i class="fab fa-windows fa-7x text-center mt-2"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Software</h3>
                    <hr>
                    <p class="card-text text-center">Instalacion de software y Sistema Operativo</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#sf-modal">More</a>
                    
                </div>
            </div>
            <div class="col-7 mt-3 col-md-3 card">
                <i class="fal fa-browser fa-7x text-center mt-2"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Sitio Web</h3>
                    <hr>
                    <p class="card-text text-center">Creacion de Sitios Web para tu negocio.</p>
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#mb-modal">More</a>

                </div>
            </div>
        </div>
    </div>
    
    <!--MODALS-->
     <!--MODAL #1-->
 
 <div class="modal fade" id="sf-modal" tabindex="-1" role="dialog" aria-labelledby="sf-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Instalacion de sotwares y SO</h2>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">Instalacion de software y/o sistema operativo que necesites para tu estudio o trabajo, escribemos para ayudarte!</p>
                <a href="contact" class="btn btn-success btn-block">Contactar</a>
            </div>
        </div>
    </div>
</div>
<!--MODAL #2-->
<div class="modal fade" id="rp-modal" tabindex="-1" role="dialog" aria-labelledby="rp-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Reparacion de Laptos</h2>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">Reparamos tu disco duro y informacion perdida, Reparacion de laptops desde el software hasta el hardware. Escribemos para ayudarte.</p>
                    <a href="contact" class="btn btn-success btn-block">Contactar</a>
                </div>
            </div>
        </div>
    </div>
    <!--Modal #3-->
    <div class="modal fade" id="mb-modal" tabindex="-1" role="dialog" aria-labelledby="mb-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sitios Web</h2>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Haz crecer tu negocio o emprende el tuyo con una pagina web, Nosotros lo hacemos por ti.</p>
                        <a href="contact" class="btn btn-success btn-block">Contactar</a>
                    </div>
                </div>
            </div>
        </div>