 <!--MODAL #1-->
 <div class="modal fade" id="sf-modal" tabindex="-1" role="dialog" aria-labelledby="sf-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Instalacion de sotwares y SO</h2>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aperiam voluptatibus harum deserunt est nemo blanditiis at eaque debitis iste.</p>
                    <a href="contact" class="btn btn-success btn-block">Contactar</a>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL #2-->
    <div class="modal fade" id="rp-modal" tabindex="-1" role="dialog" aria-labelledby="rp-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Reparacion de Laptos</h2>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aperiam voluptatibus harum deserunt est nemo blanditiis at eaque debitis iste.</p>
                        <a href="contact" class="btn btn-success btn-block">Contactar</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal #3-->
        <div class="modal fade" id="mb-modal" tabindex="-1" role="dialog" aria-labelledby="mb-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Reparacion de mobiles</h2>
                            <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aperiam voluptatibus harum deserunt est nemo blanditiis at eaque debitis iste.</p>
                            <a href="contact" class="btn btn-success btn-block">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>